name: Trigger EventBridge Rule on Code Scanning or CodeQL Action

on:
  code_scanning_alert:
  code_scanning_analysis:
  repository_dispatch:
    types: [codeql-action]

jobs:
  trigger-eventbridge:
    runs-on: ubuntu-latest
    steps:
      - name: Check Event Type
        id: check_event
        run: echo "::set-output name=event_type::${{ github.event_name }}"

      - name: Trigger EventBridge Rule
        if: ${{ steps.check_event.outputs.event_type == 'code_scanning_alert' || steps.check_event.outputs.event_type == 'code_scanning_analysis' || steps.check_event.outputs.event_type == 'repository_dispatch' }}
        run: |
          aws events put-events --entries '[{
            "Source": "custom.github",
            "DetailType": "GitHubAction",
            "Detail": "{\"event\": \"${{ github.event_name }}\", \"repository\": \"${{ github.repository }}\"}"
          }]' --event-bus-name test-event-bus
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: "us-east-1"
